<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\compilezone\c#\RMS\RMS\MainDB.mdf;Integrated Security=True" />
        <!--<add name="RMS.Properties.Settings.MainDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\compilezone\c#\RMS\RMS\MainDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RMS.Properties.Settings.MainDBConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MainDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RMS.Properties.Settings.MainDBConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\MainDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="RMS.Properties.Settings.MainDBConnectionString3" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\compilezone\c#\RMS\MainDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>